* {
  box-sizing: border-box;
}

body {
  background-color: #36384e;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
h1 {
  font-size: 3em; /* Adjust the font size as needed */
}

:root {
  --clr-primary-tomato: hsl(4, 100%, 67%);
  --clr-Grey: hsl(231, 7%, 60%);
  --clr-Charcoal-Grey: hsl(235, 18%, 26%);
  --clr-Dark-Slate-Grey: hsl(234, 29%, 20%);
  --clr-background: hsl(0, 0%, 100%);
  --font: 1rem;
  --fw-rgl: 400;
  --fw-bold: 700;
  --ff: "Roboto", sans-serif;
}

body {
  background-color: var(--clr-Charcoal-Grey);
  font-weight: var(--fw-rgl);
  font-size: var(--font);
  font-family: var(--ff);
}

img {
  margin-right: 1em;
}

.main-container {
  background-color: white;
  max-width: 920px;
  height: auto;
  margin: 0 auto;
  margin-top: 2em;
  border-radius: 2em;
  padding: 1em 1em;
}

.sub-container {
  display: flex;
  align-items: center;
  gap: 2em;
}

.first-container {
  width: 100%;
  margin: 1em 1em; /* Added margin on the sides */
}

.second-container {
  width: 100%;
  background-image: url(src/assets/images/illustration-sign-up-desktop.svg);
  border-radius: 1em;
  height: 85vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  width: 100%;
  padding: 1.3em;
  border-radius: 6px;
  border: 1px solid #ccc;
  box-shadow: none;
}

button {
  padding: 1.3em;
  border-radius: 5px;
  margin-top: 1em;
  width: 100%;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: var(--clr-Dark-Slate-Grey);
  color: var(--clr-background);
  font-weight: var(--fw-bold);
  outline: none;
}

button:hover,
.btn2:hover {
  background: linear-gradient(
    127deg,
    rgba(255, 63, 124, 1) 40%,
    rgb(229, 40, 15) 70%
  );
}

.forms {
  margin-top: 2em;
}
.image img {
  object-fit: contain;
}

@media only screen and (max-width: 500px) {
  body {
    background-color: white;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  h1 {
    font-size: 2em;
    font-weight: bolder;
  }
  .main-container {
    width: 100%;
    height: auto;
    margin-top: 0;
    padding: 0;
    border-radius: 0;
    margin: 0 auto;
  }
  .sub-container {
    flex-direction: column-reverse;
    align-items: center;
    gap: 2em;
  }
  .first-container {
    width: 90%;
  }
  .second-container {
    background-image: url(src/assets/images/illustration-sign-up-mobile.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
    border-radius: 0 0 1em 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
  }
}
