* {
  box-sizing: border-box;
}
body {
  background-color: #36384e;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

p,
h1 {
  overflow-wrap: break-word;
}
h1 {
  font-size: 3em;
}

:root {
  --clr-primary-tomato: hsl(4, 100%, 67%);
  --clr-Grey: hsl(231, 7%, 60%);
  --clr-Charcoal-Grey: hsl(235, 18%, 26%);
  --clr-Dark-Slate-Grey: hsl(234, 29%, 20%);
  --clr-background: hsl(0, 0%, 100%);

  --font: 1rem;

  --fw-rgl: 400;
  --fw-bold: 700;

  --ff: "Roboto", sans-serif;
}
body {
  background-color: var(--clr-Charcoal-Grey);
  font-weight: var(--fw-rgl);
  font-size: var(--font);
  font-family: var(--ff);
}
img {
  margin-right: 1em;
}
