.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  width: 28rem;
  height: 25rem;
  background: white;
  padding: 3em;
  border-radius: 1em;
  text-align: center;
}
.img-thanks img {
  margin-bottom: 1.5em;
  width: 35px;
  height: 35px;
}
.modal-button:hover {
  background: linear-gradient(
    127deg,
    rgba(255, 63, 124, 1) 40%,
    rgb(229, 40, 15) 70%
  );
}

@media only screen and (max-width: 400px) {
  .modal-content {
    width: 28rem;
    height: 41rem;
    background: white;
    padding: 0.5em;
    border-radius: 0;
    text-align: center;
  }

  .img-thanks img {
    margin-top: 3em;
    width: 45px;
    height: 45px;
  }
  .modal-button {
    margin-top: 20em;
  }
}
